// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap");

// Variables
@import "default_variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(54, 54, 54, 0.884);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.navbar-brand {
    &.branding {
        font-family: $font-familt-montserrat !important;
        font-weight: 800 !important;
    }
}
.flat {
    border-radius: 0px !important;
    border: 0px;
}
.unflat {
    border-radius: 25px !important;
    border: 0px;
}
#app {
    .main-content {
        .song-lyrics-list {
            .song {
                height: 250px;
                a {
                    text-decoration: none;
                    .card-title {
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

#app {
    #artist-songs {
        .artist-song {
            height: 280px;
            .card-title {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .card-text {
                white-space: normal;
            }
        }
    }
}
